<?xml version="1.0" encoding="utf-16"?>
<ExpandedSettingsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WorldSettingsModifier>
    <SmallShipMaxSpeedMultiplier>-1</SmallShipMaxSpeedMultiplier>
    <LargeShipMaxSpeedMultiplier>-1</LargeShipMaxSpeedMultiplier>
  </WorldSettingsModifier>
  <GeneralBlockModifiers>
    <BlockDamageMultiplier>-1</BlockDamageMultiplier>
    <BlockDeformationMultiplier>-1</BlockDeformationMultiplier>
    <BlockConstructTimeMultiplier>-1</BlockConstructTimeMultiplier>
    <BlockDeconstructTimeMultiplier>-1</BlockDeconstructTimeMultiplier>
  </GeneralBlockModifiers>
  <SensorModifiers>
    <OreDetectorMaxRangeMultiplier>-1</OreDetectorMaxRangeMultiplier>
    <SensorMaxRangeMultiplier>-1</SensorMaxRangeMultiplier>
    <CameraMaxZoomMultiplier>-1</CameraMaxZoomMultiplier>
  </SensorModifiers>
  <PowerModifiers>
    <SolarPowerMultiplier>-1</SolarPowerMultiplier>
    <WindPowerMultiplier>-1</WindPowerMultiplier>
    <HydrogenPowerMultiplier>-1</HydrogenPowerMultiplier>
    <HydrogenFuelConsumptionMultiplier>-1</HydrogenFuelConsumptionMultiplier>
    <ReactorPowerMultiplier>-1</ReactorPowerMultiplier>
    <ReactorFuelConsumptionRateMultiplier>-1</ReactorFuelConsumptionRateMultiplier>
    <BatteryCapacityMultiplier>-1</BatteryCapacityMultiplier>
    <BatteryMaxOutputMultiplier>-1</BatteryMaxOutputMultiplier>
    <BatteryMaxInputMultiplier>-1</BatteryMaxInputMultiplier>
  </PowerModifiers>
  <ThrusterModifiers>
    <AtmoThrusterThrustMultiplier>-1</AtmoThrusterThrustMultiplier>
    <AtmoThrusterPowerMultiplier>-1</AtmoThrusterPowerMultiplier>
    <HydroThrusterThrustMultiplier>-1</HydroThrusterThrustMultiplier>
    <HydroThrusterFuelEfficiencyMultiplier>-1</HydroThrusterFuelEfficiencyMultiplier>
    <IonThrusterThrustMultiplier>-1</IonThrusterThrustMultiplier>
    <IonThrusterPowerMultiplier>-1</IonThrusterPowerMultiplier>
    <GyroStrengthMultiplier>-1</GyroStrengthMultiplier>
    <ParachuteDragMultiplier>-1</ParachuteDragMultiplier>
  </ThrusterModifiers>
  <WheelModifiers>
    <WheelPropulsionMultiplier>-1</WheelPropulsionMultiplier>
    <WheelAxleFrictionMultiplier>-1</WheelAxleFrictionMultiplier>
    <WheelMaxPowerRequirementMultiplier>-1</WheelMaxPowerRequirementMultiplier>
    <WheelIdlePowerRequirementMultiplier>-1</WheelIdlePowerRequirementMultiplier>
    <WheelMinOffsetMultiplier>-1</WheelMinOffsetMultiplier>
    <WheelMaxOffsetMultiplier>-1</WheelMaxOffsetMultiplier>
    <WheelMaxSteeringAngleMultiplier>-1</WheelMaxSteeringAngleMultiplier>
    <WheelSteeringSpeedMultiplier>-1</WheelSteeringSpeedMultiplier>
  </WheelModifiers>
  <ToolsModifiers>
    <WelderHandRangeMultiplier>-1</WelderHandRangeMultiplier>
    <WelderHandSpeedMultiplier>-1</WelderHandSpeedMultiplier>
    <GrinderHandRangeMultiplier>-1</GrinderHandRangeMultiplier>
    <GrinderHandSpeedMultiplier>-1</GrinderHandSpeedMultiplier>
    <DrillHandRadiusMultiplier>-1</DrillHandRadiusMultiplier>
    <DrillHandSpeedMultiplier>-1</DrillHandSpeedMultiplier>
    <WelderBlockRangeMultiplier>-1</WelderBlockRangeMultiplier>
    <GrinderBlockRangeMultiplier>-1</GrinderBlockRangeMultiplier>
    <DrillBlockRangeMultiplier>-1</DrillBlockRangeMultiplier>
  </ToolsModifiers>
  <H2O2BlockModifiers>
    <OxygenTankCapacityMultiplier>-1</OxygenTankCapacityMultiplier>
    <HydrogenTankCapacityMultiplier>-1</HydrogenTankCapacityMultiplier>
    <OxygenFarmMaxYieldMultiplier>-1</OxygenFarmMaxYieldMultiplier>
    <IceToO2ConversionMultiplier>-1</IceToO2ConversionMultiplier>
    <IceToH2ConversionMultiplier>-1</IceToH2ConversionMultiplier>
    <H2BottleCapacityMultiplier>-1</H2BottleCapacityMultiplier>
    <O2BottleCapacityMultiplier>-1</O2BottleCapacityMultiplier>
    <AirVentThroughputMultiplier>-1</AirVentThroughputMultiplier>
    <AirVentPowerMultiplier>-1</AirVentPowerMultiplier>
  </H2O2BlockModifiers>
  <CommsBlockModifiers>
    <BeaconMaxRangeMultiplier>-1</BeaconMaxRangeMultiplier>
    <BeaconMaxPowerDrainMultiplier>-1</BeaconMaxPowerDrainMultiplier>
    <AntennaMaxRangeMultiplier>-1</AntennaMaxRangeMultiplier>
  </CommsBlockModifiers>
  <LightBlocksModifiers>
    <PointLightMaxRangeMultiplier>-1</PointLightMaxRangeMultiplier>
    <SpotlightMaxRangeMultplier>-1</SpotlightMaxRangeMultplier>
    <SpotlightConeAngleMultiplier>-1</SpotlightConeAngleMultiplier>
  </LightBlocksModifiers>
  <SubgridBlocksModifiers>
    <PistonMaxVelocityMultiplier>-1</PistonMaxVelocityMultiplier>
    <PistonMaxExtensionMultiplier>-1</PistonMaxExtensionMultiplier>
    <RotorMaxTorqueMultiplier>-1</RotorMaxTorqueMultiplier>
    <RotorMaxDisplacementMultiplier>-1</RotorMaxDisplacementMultiplier>
  </SubgridBlocksModifiers>
  <SpaceBlockModifiers>
    <GravityGeneratorMaxRangeMultiplier>-1</GravityGeneratorMaxRangeMultiplier>
    <GravityGeneratorMaxStrengthMultiplier>-1</GravityGeneratorMaxStrengthMultiplier>
    <SphericalGravityGeneratorMaxPowerRequirementMultiplier>-1</SphericalGravityGeneratorMaxPowerRequirementMultiplier>
    <ArtificialMassMaxMassMultiplier>-1</ArtificialMassMaxMassMultiplier>
    <JumpDrivePowerNeededForJumpMultiplier>-1</JumpDrivePowerNeededForJumpMultiplier>
    <JumpDrivePowerDrawMultiplier>-1</JumpDrivePowerDrawMultiplier>
    <JumpDriveMaxWeightMultiplier>-1</JumpDriveMaxWeightMultiplier>
    <JumpDriveMaxDistanceMultiplier>-1</JumpDriveMaxDistanceMultiplier>
  </SpaceBlockModifiers>
  <CharacterModifiers>
    <PlayerHealthMultiplier>-1</PlayerHealthMultiplier>
    <PlayerInventoryMultiplier>-1</PlayerInventoryMultiplier>
    <OxygenSuitCapacityMultiplier>-1</OxygenSuitCapacityMultiplier>
    <OxygenConsumptionMultiplier>-1</OxygenConsumptionMultiplier>
    <HydrogenSuitCapacityMultiplier>-1</HydrogenSuitCapacityMultiplier>
    <JetpackHydrogenConsumptionMultiplier>-1</JetpackHydrogenConsumptionMultiplier>
    <JetpackStrengthMultiplier>-1</JetpackStrengthMultiplier>
    <JetpackSlowdownMultiplier>-1</JetpackSlowdownMultiplier>
    <JetpackConsumptionFactorPerGMultiplier>-1</JetpackConsumptionFactorPerGMultiplier>
    <SuitConsumptionInTemperatureExtremeMultiplier>-1</SuitConsumptionInTemperatureExtremeMultiplier>
  </CharacterModifiers>
  <WeaponsModifiers>
    <SmallCaliberDamageMultiplier>-1</SmallCaliberDamageMultiplier>
    <SmallCaliberMaxRangeMultiplier>-1</SmallCaliberMaxRangeMultiplier>
    <PistolCaliberDamageMultiplier>-1</PistolCaliberDamageMultiplier>
    <PistolCaliberMaxRangeMultiplier>-1</PistolCaliberMaxRangeMultiplier>
    <LargeCaliberDamageMultiplier>-1</LargeCaliberDamageMultiplier>
    <LargeCaliberMaxRangeMultiplier>-1</LargeCaliberMaxRangeMultiplier>
    <MissileDamageMultiplier>-1</MissileDamageMultiplier>
    <MissileRadiusMultiplier>-1</MissileRadiusMultiplier>
    <MissileMaxRangeMultiplier>-1</MissileMaxRangeMultiplier>
    <WarheadDamageMultiplier>-1</WarheadDamageMultiplier>
    <RifleGunDamageMultiplier>-1</RifleGunDamageMultiplier>
    <RifleGunBulletSpreadMultiplier>-1</RifleGunBulletSpreadMultiplier>
    <RifleGunRecoilMultiplier>-1</RifleGunRecoilMultiplier>
    <PistolGunDamageMultiplier>-1</PistolGunDamageMultiplier>
    <PistolGunBulletSpreadMultiplier>-1</PistolGunBulletSpreadMultiplier>
    <PistolGunRecoilMultiplier>-1</PistolGunRecoilMultiplier>
    <HandheldRocketSpreadMultiplier>-1</HandheldRocketSpreadMultiplier>
    <GatlingGunSpreadMultiplier>-1</GatlingGunSpreadMultiplier>
    <GatlingTurretSpreadMultiplier>-1</GatlingTurretSpreadMultiplier>
    <GatlingTurretMaxRangeMultiplier>-1</GatlingTurretMaxRangeMultiplier>
    <InteriorTurretSpreadMultiplier>-1</InteriorTurretSpreadMultiplier>
    <InteriorTurretMaxRangeMultiplier>-1</InteriorTurretMaxRangeMultiplier>
    <RocketLauncherSpreadMultiplier>-1</RocketLauncherSpreadMultiplier>
    <RocketTurretSpreadMultiplier>-1</RocketTurretSpreadMultiplier>
    <RocketTurretMaxRangeMultiplier>-1</RocketTurretMaxRangeMultiplier>
  </WeaponsModifiers>
  <VisualModifers>
    <ModifyInteractHighlights>false</ModifyInteractHighlights>
    <InteractHighlightLineThicknessMultiplier>-1</InteractHighlightLineThicknessMultiplier>
    <InteractHighlightColor>
      <X>255</X>
      <Y>255</Y>
      <Z>0</Z>
    </InteractHighlightColor>
    <InteractAccessDeniedHighlightColor>
      <X>255</X>
      <Y>0</Y>
      <Z>0</Z>
    </InteractAccessDeniedHighlightColor>
  </VisualModifers>
</ExpandedSettingsConfig>